
<%-include('./partials/header.ejs')%><!DOCTYPE html>

<body>
    <div class="container" id="formulario">
        <hr>
        <h1>Lista de Tarefas</h1>
        <hr>
        <% listas.forEach(list =>{  %>
                <div class="card">
                <div class="card-body">
                    <h5><%= list.descricao %></h5>                                                          
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/" role="button">Continuar</a>
                    <a class="btn btn-secondary" href="/listar/<%= list.id%>"role="button">Editar</a>
                    <a class="btn btn-danger" href="/apagar/<%= list.id%>" role="button">Excluir</a>
                </div>
            </div>  
        <% }) %>
    </div>
</body>
    
<%-include('./partials/footer.ejs')%>